* {
    margin: 0 auto;
}

.wrap {
    max-width: 1140px;
    text-align: center;
}

.myTable {
    border: 5px ridge gold;
    margin-top: 100px;
    cursor: pointer;
    margin-bottom: 40px;
}


td {
    padding: 10px 35px;
    text-align: center;
    background-color: rgb(236, 231, 231);
    transition: all 0.4s;
}

td:hover {
    color: rgb(79, 133, 158);
    background-color: #fff;
}

th {
    border: 3px solid gold;
    background-color: rgb(236, 231, 231);
    padding: 10px 70px;
    transition: all 0.4s;
}

th:hover {
    color: rgb(79, 133, 158);
    background-color: #fff;
    border-color: #fff;
}

.main-form {
    border: 2px solid grey;
    width: 600px;
    min-height: 700px;
    padding: 25px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    border: none;
    cursor: pointer;
    animation: color-change-5x 8s linear infinite alternate both;
}
@keyframes color-change-5x {
    0% {
      background: #19dcea;
    }
    25% {
      background: #b22cff;
    }
    50% {
      background: #ea2222;
    }
    75% {
      background: #f5be10;
    }
    100% {
      background: #3bd80d;
    }
  }
  
.form-main-text {
    margin-bottom: 20px;
}

.my-form {
    color: #131410b4; 
    font-size: 26px;
    transition: color 0.4s;
}
.my-form:hover {
    color: #fff;
}

input {
    margin-left: 10px;
    font-size: medium;
    border: none;
}

label {
    font-size: 26px;
    cursor: pointer;
    transition: color 0.4s;
}

label:hover {
    color: #fff;
}

.form-select {
    margin-top: 20px;
    width: 250px;
    height: 30px; 
    cursor: pointer;
    transition: all 0.4s;
}
.form-select:hover {
    color: #fff;
    background-color: rgb(44, 43, 43);
}


textarea {
    
    border: none;
    border-radius: 20px;
    padding: 20px;
    margin-top: 25px;
    align-self: center;
    cursor: pointer;
    outline: none;
    transition: all 0.4s;
}

textarea:hover {
    outline: none;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.button-form {
    margin-top: 25px;
    padding: 10px;
    cursor: pointer;
    border: none;
    transition: all 0.4s;
}
.button-form-delete {
    padding: 10px 20px;
    cursor: pointer;
}

.button-form:hover {
    color: #fff;
    background-color: #222;
}

